* { 
  margin: 0; 
  padding: 0; 
}

body {
  background-image: url(../img/06.jpg);
  background-size: 100%;
  font-family: Tahoma, sans-serif;
  width: 100%;
  height: 1200px;
}

.logo {
  margin: 0px;
  padding: 0px;
}

.h1 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 20px;
}

.h4 {
  margin: 20px 0 10px 0;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 20px;
}

.checkboxes {
  position: relative;
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}

.jquerybox, .cssbox {
  width: 200px;
  height: 150px;
  margin: 0 50px 50px 150px;
  display: inline-block;
}

.cssbox {
  text-align: right;
}

/*  CHECKBOX jQuery*/

.checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  line-height: 20px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  background: url(../img/checkbox.png) left top no-repeat;
}

.checkboxChecked {
  background-position: right top;
}

.checkbox:hover {
  background-position: left bottom;
}

.checkboxChecked:hover {
  background-position: right bottom;
}

.checkbox input {
  position: absolute;
  left: -9999px;
}

div {
  margin-bottom: 10px;
}

 /* CHECKBOX CSS*/

input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label {
  cursor: pointer;

}

.label:after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-2.png);
  position: relative;
  top: 3px;
  margin-left: 15px;
}

input[type=checkbox]:checked + .label:after {
  background-position: 0 -17px;
}

.label:hover:after {
  background-position: 0 -34px;
}

input[type=checkbox]:checked + .label:hover:after {
  background-position: 0 -51px;
}
